#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#headtext {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem;
  animation: smoothFilter 30s infinite ease-in-out;
}

.post-renderer-container {
  margin-top: 4px;
  margin-left: 4px; 
  align-self: flex-start;
  font-family: sans-serif, Avenir, Helvetica, Arial, system-ui; 
}
.post-renderer-container hr {
  margin: 0.2rem 0;
  border: 0;
  border-top: 1px solid #5b5b5b;
}
.post-renderer-container h1 {
  color:pink;
}
.post-renderer-container h2 {
  color:lightskyblue;
}

.app-container {
  display: flex;
  flex-direction: row;
}

.post-index-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #5b5b5b;
  padding: 10px;
  overflow-y: auto;
}

.post-index-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-index-sidebar li:hover,
.post-index-sidebar li.active {
  background-color: #f0f0f0;
}

.blog-post {
  flex: 1;
  margin-left: 220px;
  padding-right: 10px;
  margin-right: 20px;
}

@keyframes smoothFilter {
  0% {
    filter: blur(0.5px) hue-rotate(0deg);
    transform: scale3d(1, 1, 1);
  }
  10% {
    filter: blur(0.8px) hue-rotate(-30deg) saturate(1.2);
    transform: scale3d(1, 1, 1);
  }
  20% {
    filter: blur(0.6px) hue-rotate(-30deg) saturate(1.2);
    transform: scale3d(1, 1, 1);
  }
  40% {
    filter: blur(0.8px) hue-rotate(20deg) saturate(1.4);
    transform: scale3d(1.02, 1.02, 1);
  }
  50% {
    filter: blur(0.5px) hue-rotate(15deg) saturate(1.5);
    transform: scale3d(1.01, 1.01, 1);
  }
  60% {
    filter: blur(1px) hue-rotate(0deg) saturate(1.4);
    transform: scale3d(0.99, 1.01, 1);
  }
  75% {
    filter: blur(1.7px) hue-rotate(-20deg) saturate(1.3);
    transform: scale3d(1.01, 0.99, 1);
  }
  90% {
    filter: blur(1.4px) hue-rotate(-10deg) saturate(1.2);
    transform: scale3d(1.02, 0.98, 1);
  }
  100% {
    filter: blur(1px) hue-rotate(0deg) saturate(1.1);
    transform: scale3d(1, 1, 1);
  }
}