#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0.1rem;
  text-align: center;
}

.card {
  padding: 2em;
}

#headtext {
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 1rem;
}


.post-renderer-container {
  margin-top: 4px; 
  align-self: flex-start;
}
.post-renderer-container hr {
  margin: 0.2rem 0;
  border: 0;
  border-top: 1px solid #ccc;
}
.post-renderer-container h1 {
  color:pink
}

.app-container {
  display: flex;
  flex-direction: row;
}

.post-index-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  border-right: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
}

.post-index-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-post {
  flex: 1;
  margin-left: 220px;
  padding-right: 10px;
  margin-right: 20px;
}